{% load static %}
<a class="col-sm-3 canned-card no-padding a-no-style" data-id="{{element.id}}" href="{% url 'detail' element.id %}">
    <div class="canned-card-top">
        <div class="canned-name text-center">
            {{ element }}
        </div>
        <div class="canned-img">
        </div>
    </div>
    <div class="canned-card-bot">
        <div class="canned_ingredients small-padding">
            <div id="ingredients-list">
                ingrédients
                {% if element.get_ingredients|length > 3 %}
                <!-- <img class="caret_img" src="{% static 'website/images/caret.jpeg' %}" alt=""> -->
                <i class="caret-img fa fa-caret-right"></i>
                {% endif %}
            </div>
            <div class="row canned-ingredients_row">
                {% if element.get_ingredients|length > 3 %}
                    {% for i in element.get_ingredients|slice:":3"  %}
                        <span class="col-sm-4 ingredient">{{i.name}}</span>
                    {% endfor %}
                    {% for i in element.get_ingredients|slice:"3:" %}
                        <span class="hidden col-sm-4 ingredient">{{ i.name }}</span>
                    {% endfor %}
                    <span class="col-sm-4 ingredient three_dots">...</span>
                {% else %}
                    {% for i in element.get_ingredients %}
                        <span class="col-sm-4 ingredient">{{i.name}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="canned-price text-right small-padding">
            <p>{{element.price}}€</p>
        </div>
    </div>

</a>
