{% extends 'base.html' %}
{% load website_extras %}

{% block title %} Accueil {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/shop.css' %}">
{% endblock %}

{% block content %}
    <form id="form_search" class="balec" method="POST" action="" >
        <input class="balec" type="search" name="canned_search">
        <button class="balec" type="submit"> Rechercher un produit </button>
        {% csrf_token %}
    </form>
    <div class="container">
        {% for c in canned_food %}
            {% if forloop.counter|add:"-1"|modulo:"3" == 0 %}
            <div class="row canned_row">
            {% endif %}
                {% include 'website/card.html' with element=c %}
                <div class="offset-1"></div>
            {% if forloop.counter|modulo:"3" == 0 and forloop.counter|add:"-1" != 0 %}
            </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'website/js/shop.js' %}"></script>
    <script src="{% static 'website/js/ajax_shop.js' %}"></script>
{% endblock %}
