{% extends 'base.html' %}
{% load website_extras %}


{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/shop.css' %}">
{% endblock css %}

{% block content %}
    {% if item_added %}
        {% include 'website/notification.html' with element=item_added %}
    {% endif %}
    <div class="container custom-margin-top">
        {% for c in canned_foods %}
            {% if forloop.counter0|modulo:"3" == 0 %}
            <div class="row canned_row">
            {% endif %}
                {% include 'website/product_card.html' with element=c %}
                <div class="offset-1"></div>
            {% if forloop.counter|modulo:"3" == 0 and forloop.counter0 != 0 %}
            </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock content %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'website/js/shop.js' %}"></script>
    <script src="{% static 'website/js/ajax_shop.js' %}"></script>
    <script src="{% static 'cart/js/ajax_cart.js' %}"></script>
{% endblock javascript %}
