<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        {% load bootstrap4 %}

        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

        {% load static %}
        <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    {% block javascript %}
    {% endblock %}
</html>
